<% set_meta_tags title: t('.title') %>
<p class="text-center w-full bg-second">次の目的地はこちらにしませんか？</p>
<div id="heading" class="mx-6 my-12 md:my-24 inset-0">
  <div class="w-full max-w-3xl mx-auto text-center">
    <h1 class="w-full pb-12 md:pb-24 text-3xl md:text-4xl">あなたにぴったりな建築をセレクトしました。</h1>
    <div class="bg-white p-6 mb-12 md:mb-24 rounded-md">
      <% @matched_architecture.each_with_index do |architecture, idx| %>
        <a href="#matched_architecture_<%= architecture.id %>" class="block my-12 md:text-lg hover:scale-105 hover:drop-shadow-lg"><%= idx + 1 %>. <%= architecture.name %></a>
      <% end %>
    </div>
    <%= render 'shared/twitter_share' %>
  </div>
</div>

<% @matched_architecture.each do |architecture| %>
  <% @images = architecture.images.map { |image| rails_blob_path(image) }.to_json.html_safe %>
  <input name="images" type="hidden" value="<%= @images %>"/>
  <div id="matched_architecture_<%= architecture.id %>" class="architecture-images flex flex-col h-screen md:flex-row items-end">
    <div class="w-full md:w-3/4 h-full md:h-screen relative">
      <%= render 'shared/architecture', architecture: architecture %>
    </div>
    <div class="w-full md:w-144 px-4 md:pt-0 pt-4">
      <h1 class="text-3xl md:text-5xl mb-4"><%= architecture.name %></h1>
      <div class="relative">
        <%= link_to "https://maps.google.com/maps?q=#{architecture.location}", target: :_blank, rel: "noopener noreferrer" do %>
          <div class="flex items-center hover:drop-shadow-lg">
            <p class="mr-2"><i class="fa-solid fa-location-dot"></i></p>
            <%= architecture.pref %><%= architecture.location %>
          </div>
        <% end %>
        <div class="md:static bottom-5 w-full text-white">
          <div class="flex flex-row-reverse md:flex-col my-8 mb-20 text-center justify-center items-center">
            <% if user_signed_in? %>
              <% if architecture.by?(current_user) %>
                <%= link_to edit_architecture_path(architecture), method: :get, class: 'flex items-center justify-center bg-third border border-first text-first h-14 w-14 md:h-fit md:w-full md:mb-8 mx-6 rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer' do %>
                  <i class="fa-regular fa-pen-to-square fa-xl md:text-sm md:mr-2"></i>
                  <div class="hidden md:block">
                    <p>Edit</p>
                  </div>
                <% end %>
                <%= link_to architecture_path(architecture), method: :delete, data: { confirm: t('defaults.message.destroy_confirm') }, class: 'flex items-center justify-center bg-seventh border border-seventh h-14 w-14 md:w-full mx-6 md:h-fit rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer' do %>
                  <i class="fa-regular fa-trash-can fa-xl md:text-sm md:mr-2"></i>
                  <div class="hidden md:block">
                    <p>Delete</p>
                  </div>
                <% end %>
              <% else %>
                <%= render 'shared/like_nope_button', architecture: architecture %>
                <%= link_to check_in_architecture_index_path(name: architecture.name, pref: architecture.pref, location: architecture.location, open_range: architecture.open_range, experience: architecture.experience, architect: architecture.architect), method: :get, method: :get, class: 'flex items-center justify-center bg-third border border-first text-first h-14 w-14 md:h-fit mx-6 md:w-full rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer' do %>
                  <i class="fa-solid fa-check fa-xl md:text-sm md:mr-2"></i>
                  <div class="hidden md:block">
                    <p>Check in</p>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div id="modalOpen" class="flex items-center justify-center bg-third border border-seventh text-seventh h-14 w-14 md:h-fit mx-6 md:w-full md:mb-8 rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <i class="fa-regular fa-heart fa-xl md:text-sm md:mr-2"></i>
                <div class="hidden md:block">
                  <p>Like</p>
                </div>
              </div>
              <div id="modalOpen" class="flex items-center justify-center bg-third border border-first text-first h-14 w-14 md:h-fit mx-6 md:w-full rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <i class="fa-solid fa-check fa-xl md:text-sm md:mr-2"></i>
                <div class="hidden md:block">
                  <p>Check in</p>
                </div>
              </div>
              <div id="easyModal" class="hidden flex fixed inset-0 h-full w-full overflow-auto bg-black bg-opacity-50">
                <div class="relative mx-auto my-auto w-2/3 md:w-1/2">
                  <h1 class="text-xl text-center text-white mb-6">ログインが必要です</h1>
                  <%= link_to (t 'devise.sessions.new.title'), new_user_session_path, class: "block w-full bg-second text-first text-center rounded-full mb-4 hover:scale-105 hover:drop-shadow-lg" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="mx-6 mb-20 md:mt-20 inset-0">
  <div class="w-full max-w-3xl mx-auto text-center">
    <%= render 'shared/twitter_share' %>
  </div>
</div>