<p class="text-center w-full bg-first text-white">次の目的地はこちらにしませんか？</p>
<div class="mx-6 my-24 md:my-36 inset-0">
  <div class="w-full max-w-3xl mx-auto text-center">
    <h1 class="w-full pb-24 md:pb-36 text-3xl md:text-6xl font-normal">あなたにぴったりな建築をセレクトしました。</h1>
    <div class="bg-white p-6 mb-20 md:mb-36 md:mb-36 rounded-md">
      <% @matched_architecture.each_with_index do |architecture, idx| %>
        <a href="#matched_architecture_<%= architecture.id %>" class="block my-12 text-base md:text-lg hover:scale-105 hover:drop-shadow-lg"><%= idx + 1 %>. <%= architecture.name %></a>
      <% end %>
    </div>
  </div>
</div>

<% @matched_architecture.each do |architecture| %>
  <% @images = architecture.images.map { |image| rails_blob_path(image) }.to_json.html_safe %>
  <input name="images" type="hidden" value="<%= @images %>" class="images" />
  <div id="matched_architecture_<%= architecture.id %>" class="flex flex-col h-screen md:flex-row items-end">
    <div class="w-full md:w-3/4 h-full md:h-screen relative">
      <%= render 'shared/architecture', architecture: architecture %>
    </div>
    <div class="w-full md:w-144 px-4 md:pt-0 pt-4">
      <h1 class="text-3xl md:text-5xl mb-4"><%= architecture.name %></h1>
      <div class="relative">
        <%= link_to "https://maps.google.com/maps?q=#{architecture.location}", target: :_blank, rel: "noopener noreferrer" do %>
          <div class="flex items-center hover:drop-shadow-lg">
            <p class="mr-2"><i class="fa-solid fa-map-pin"></i></p>
            <%= simple_format(architecture.location) %>
          </div>
        <% end %>
        <div class="md:static bottom-5 w-full text-white">
          <div class="flex flex-row-reverse md:flex-col mt-8 mb-20 text-center justify-center items-center">
            <% if logged_in? %>
              <%= render 'shared/like_nope_button', architecture: architecture %>
              <%= link_to new_architecture_path, method: :get, method: :get, class: 'flex items-center justify-center bg-third border border-first text-first h-14 w-14 md:h-fit mx-6 md:w-full rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer' do %>
                <i class="fa-solid fa-check fa-xl md:text-sm md:mr-2"></i>
                <div class="hidden md:block">
                  <p>Check in</p>
                </div>
              <% end %>
            <% else %>
              <div id="modalOpen" class="flex items-center justify-center bg-third border border-seventh text-seventh h-14 w-14 md:h-fit mx-6 md:w-full md:mb-8 rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <i class="fa-regular fa-heart fa-xl md:text-sm md:mr-2"></i>
                <div class="hidden md:block">
                  <p>Like</p>
                </div>
              </div>
              <div id="modalOpen" class="flex items-center justify-center bg-third border border-first text-first h-14 w-14 md:h-fit mx-6 md:w-full rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <i class="fa-solid fa-check fa-xl md:text-sm md:mr-2"></i>
                <div class="hidden md:block">
                  <p>Check in</p>
                </div>
              </div>
              <div id="easyModal" class="hidden flex fixed inset-0 h-full w-full overflow-auto bg-black bg-opacity-50">
                <div class="relative mx-auto my-auto w-2/3 md:w-1/2">
                  <h1 class="text-xl text-center text-white mb-6">ログインが必要です</h1>
                  <%= link_to (t 'devise.sessions.new.title'), new_user_session_path, class: "block w-full bg-first text-white text-center rounded-full mb-4 hover:scale-105 hover:drop-shadow-lg" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>