<% content_for(:title, t('.title')) %>
<form action="/diagnosis">
  <% @selected_questions.each_with_index do |q, idx| %>
    <div id="question-container-<%= idx %>" <% if idx > 0 %>style="display: none;"<% end %>>
      <div class="relative flex flex-col md:flex-row items-end">
        <div class="w-full md:w-3/4 h-screen relative">
          <%= image_tag q[:image], class: 'image absolute object-cover h-full w-full' %>
          <div class="absolute inset-0 bg-black bg-opacity-50 text-white tracking-widest">
            <p class="text-center w-full bg-second text-first">あなたについて教えてください</p>
            <div class="flex flex-col justify-center items-center h-full">
              <div class="max-w-2xl text-center pb-24">
                <h1 class="text-3xl mb-6 md:mb-12">Q. <%= idx + 1 %> / <%= @selected_questions.length %></h1>
                <p class="md:text-lg"><%= q[:title] %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute md:static bottom-5 w-full md:w-144 px-4 text-white">
          <div class="flex flex-row-reverse md:flex-col my-8 mb-24 text-center justify-center items-center">
            <% if idx < @selected_questions.length - 1 %>
              <div onclick="storeTagIdAndShowNext(<%= idx %>)" class="flex items-center justify-center bg-eighth h-14 w-14 md:h-fit md:w-full md:mb-8 rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <p><i class="fa-regular fa-circle fa-xl md:hidden"></i></p>
                <div class="hidden md:block">
                  <p>YES</p>
                </div>
              </div>
            <% else %>
              <div onclick="yesAndSubmitForm(<%= idx %>)" class="flex items-center justify-center bg-eighth h-14 w-14 md:h-fit md:w-full md:mb-8 rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <p><i class="fa-regular fa-circle fa-xl md:hidden"></i></p>
                <div class="hidden md:block">
                  <p>YES</p>
                </div>
              </div>
            <% end %>
            <i onclick="reverseButton(<%= idx %>)", class="fa-solid fa-rotate-left fa-xl md:text-first mx-6 md:mb-8 hover:scale-110 hover:drop-shadow-lg cursor-pointer"></i>
            <% if idx < @selected_questions.length - 1 %>
              <div onclick="showNextQuestion(<%= idx %>)" class="flex items-center justify-center bg-seventh h-14 w-14 md:h-fit md:w-full rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <p><i class="fa-solid fa-xmark fa-xl md:hidden"></i></p>
                <div class="hidden md:block">
                  <p>NO</p>
                </div>
              </div>
            <% else %>
              <div onclick="noAndSubmitForm()" class="flex items-center justify-center bg-seventh h-14 w-14 md:h-fit md:w-full rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer">
                <p><i class="fa-solid fa-xmark fa-xl md:hidden"></i></p>
                <div class="hidden md:block">
                  <p>NO</p>
                </div>
              </div>
            <% end %>
            <input type="checkbox" id="checkbox<%= idx %>" name="answer[]" value="<%= q[:tag_id] %>" class="hidden">
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="w-full md:w-144 px-4 md:pt-0 pt-4">
    <input type="submit" id="submit-btn" class="hidden">
  </div>
</form>