<% if @architecture.present? %>
  <div class="flex flex-col h-screen md:flex-row items-end">
    <div class="w-full md:w-3/4 h-full relative">
      <%= render 'shared/architecture', architecture: @architecture %>
    </div>
    <div class="w-full md:w-144 px-4 md:pt-0 pt-4">
      <h1 class="text-3xl md:text-5xl mb-4"><%= @architecture.name %></h1>
      <div class="relative my-2 md:my-8 mb-20">
        <p><%= simple_format(@architecture.location) %></p>
        <div class="md:static bottom-5 w-full text-white">
          <div class="flex flex-row-reverse md:flex-col my-8 mb-20 text-center justify-between items-center">
            <%= link_to likes_path(architecture_id: @architecture.id), method: :post, class: 'bg-third border border-seventh text-seventh h-16 w-16 leading-16 md:leading-normal md:h-fit md:w-full md:mb-8 mr-20 md:mr-0 rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer md:flex md:justify-center md:items-center' do %>
              <i class="fa-solid fa-heart fa-2xl md:text-sm md:mr-2"></i>
              <div class="hidden md:block">
                <p>Like</p>
              </div>
            <% end %>
            <%= link_to root_path, method: :get, class: 'bg-third md:bg-black border border-black text-black md:text-white h-16 w-16 leading-16 md:leading-normal md:w-full md:h-fit ml-20 md:ml-0 rounded-full hover:scale-105 hover:drop-shadow-lg cursor-pointer md:flex md:justify-center md:items-center' do %>
              <i class="fa-solid fa-xmark fa-2xl md:text-sm md:mr-2"></i>
              <div class="hidden md:block">
                <p>Reload</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p><%= t('.no_result') %></p>
<% end %>