<div class="top-wrapper">
  <div class="column left">
    <%= link_to '#' do%>
      <%= image_tag "top_left.jpg" %>
      <h2><%= t '.record' %></h2>
    <% end %>
  </div>
  <div class="column right">
    <%= link_to '#' do%>
      <%= image_tag "top_right.jpg" %>
      <h2><%= t '.search' %></h2>
    <% end %>
  </div>
</div>