<input name="images" type="hidden" value=<%= @images %> class='images'/>

<%= image_tag architecture.images.first, class: 'image absolute object-cover object-top h-full w-full' %>
<div class="progress-bar h-1 bg-second absolute top-0 left-0 ease-in-out duration-300"></div>
<div class="description hidden absolute inset-0 bg-black bg-opacity-50 text-white">
  <button class="close-btn absolute top-2 right-2 p-2 text-xl text-white">
    <span class="fa-stack hover:scale-110">
      <i class="fas fa-circle fa-stack-2x text-white fa-stack-2x"></i>
      <i class="fa-solid fa-xmark text-first text-2xl fa-stack-1x pt-1"></i>
    </span>
  </button>
  <div class="flex flex-col justify-center items-center p-6 h-full leading-7">
    <div class="max-w-2xl sm:mt-12 mt-10 max-h-full overflow-auto">
      <p><%= safe_join(architecture.description.split("\n"), tag(:br)) %></p>
      <br>
      <% if architecture.architect.present? %>
        <p><%= Architecture.human_attribute_name(:architect) %> : <%= architecture.architect %></p>
      <% end %>
      <br>
      <% architecture.tags.each do |tag| %>
        <a>#<%= tag.name %> </a>
      <% end %>
    </div>
  </div>
</div>
<button class="toggle-btn absolute top-0 right-0 p-4 text-xl">
  <span class="fa-stack hover:scale-110">
    <i class="fas fa-circle fa-stack-2x text-white fa-stack-2x"></i>
    <i class="fa-solid fa-book-open-reader text-first text-2xl fa-stack-1x pt-1"></i>
  </span>
</button>