<header>
  <nav>
    <%= link_to root_path, class: 'header-logo' do %>
      <%= image_tag 'archimate.png', size: '200x43' %>
    <% end %>

    <hr class="style1">

    <div>
      <ul>
        <li>
          <%= link_to architecture_index_path, class: 'icon' do %>
            <i class="fa-solid fa-book fa-2x" style="color: #ee5858;"></i>
          <% end %>
          <%= link_to likes_architecture_index_path, class: 'icon' do %>
            <i class="fa-regular fa-heart fa-2x" style="color: #ee5858;"></i>
          <% end %>
          <%= link_to '#', class: 'icon' do %>
            <%= image_tag 'japan.png', size: '35x35' %>
          <% end %>
          <%= link_to new_architecture_path, class: 'icon' do %>
            <i class="fa-solid fa-pen fa-2x" style="color: #ee5858;"></i>
          <% end %>
          <%= link_to profile_path, class: 'icon' do %>
            <i class="fa-sharp fa-solid fa-user fa-2x" style="color: #ee5858;"></i>
          <% end %>
          <%= link_to logout_path, class: 'icon', method: :delete, data: { confirm: t('defaults.message.logout_confirm') } do %>
            <i class="fa-solid fa-arrow-right-from-bracket fa-2x" style="color: #ee5858;"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>