<header>
  <nav>
    <%= link_to root_path, class: 'header-logo' do %>
      <%= image_tag 'archimate.png', size: '200x43' %>
    <% end %>

    <hr class="style1">

    <div>
      <ul>
        <li>
          <%= link_to '#', class: 'icon' do %>
            <%= image_tag 'book.png', size: '40x40' %>
          <% end %>
          <%= link_to '#', class: 'icon' do %>
            <%= image_tag 'heart.png', size: '40x40' %>
          <% end %>
          <%= link_to '#', class: 'icon' do %>
            <%= image_tag 'japan.png', size: '40x40' %>
          <% end %>
          <%= link_to '#', class: 'icon' do %>
            <%= image_tag 'pen.png', size: '40x40' %>
          <% end %>
          <%= link_to '#', class: 'icon' do %>
            <%= image_tag 'man.png', size: '40x40' %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>