<div>
  <% if architecture.images.any? %>
    <% architecture.images.each do |image| %>
      <%= image_tag image.url, size: '300x200' %>
    <% end %>
  <% else %>
    <%= image_tag 'architecture_placeholder.png' %>
  <% end %>
  <div>
    <h4>
      <a href="#" style="color: black;">
        <%= link_to architecture.name, architecture_path(architecture) %>
      </a>
    </h4>
    <p><%= architecture.description %></p>
    <%= render 'crud_menus', architecture: architecture %>
    <ul>
      <li>
        <%= icon 'far', 'user' %>
        <%= architecture.user.name %>
      </li>
      <li>
        <%= icon 'far', 'calendar' %>
        <%= l architecture.created_at, format: :long %>
      </li>
    </ul>
  </div>
</div>