<div>
  <%= image_tag architecture.architecture_image.url, size: '300x200' %>
  <div>
    <h4>
      <a href="#" style="color: black;">
        <%= architecture.name %>
      </a>
    </h4>
    <div>
      <a href="#"><%= icon 'fas', 'trash', style: 'color: #ee5858' %></a>
      <a href="#"><%= icon 'fa', 'pen', style: 'color: #ee5858' %></a>
    </div>
    <ul>
      <li>
        <%= icon 'far', 'user' %>
        <%= architecture.user.name %>
      </li>
      <li>
        <%= icon 'far', 'calendar' %>
        <%= l architecture.created_at, format: :long %>
      </li>
    </ul>
    <p><%= architecture.description %></p>
  </div>
</div>