<div class="container mx-auto">
  <div class="max-w-3xl mx-auto p-4">
    <%= form_with model:architecture, local: true do |f| %>
      <div class="mb-12">
        <%= f.label :name, class: 'block text-first mb-2' %>
        <%= f.text_field :name, class: 'form-input block w-full py-1 border border-gray-400 rounded-full transition duration-200 focus:border-transparent focus:ring-third focus:ring-offset-2 focus:ring-offset-gray-500', placeholder: (t 'defaults.National Museum of Western Art'), required: true %>
      </div>
      <div class="mb-12">
        <%= f.label :location, class: 'block text-first mb-2' %>
        <%= f.text_field :location, class: 'form-input block w-full py-1 border border-gray-400 rounded-full transition duration-200 focus:border-transparent focus:ring-third focus:ring-offset-2 focus:ring-offset-gray-500', placeholder: (t 'defaults.Taito-ku, Tokyo-to 110-0007 Japan'), required: true %>
      </div>
      <div class="mb-12">
        <%= f.label :open_range, class: 'block text-first mb-2' %>
        <%= f.select :open_range, {'公開': 'publish', '非公開': 'unpublish'}, {}, class: 'form-input block w-full py-1 border border-gray-400 rounded-full transition duration-200 focus:border-transparent focus:ring-third focus:ring-offset-2 focus:ring-offset-gray-500', required: true %>
        <p class="text-sm text-gray-500 pt-2">※所在地が非公開の作品（個人邸等）に関しては、公開範囲を「非公開」に設定してください</p>
      </div>
      <div class="mb-12">
        <%= f.label :experience, class: 'block text-first mb-2' %>
        <%= f.select :experience, {'体験可能': 'possible', '外から見るだけ': 'impossible'}, {}, class: 'form-input block w-full py-1 border border-gray-400 rounded-full transition duration-200 focus:border-transparent focus:ring-third focus:ring-offset-2 focus:ring-offset-gray-500', required: true %>
      </div>
      <div class="mb-12">
        <%= f.label :architect, class: 'block text-first mb-2' %>
        <%= f.text_field :architect, class: 'form-input block w-full py-1 border border-gray-400 rounded-full transition duration-200 focus:border-transparent focus:ring-third focus:ring-offset-2 focus:ring-offset-gray-500', placeholder: (t 'defaults.Le Corbusier') %>
      </div>
      <div class="mb-12">
        <%= f.label :description, class: 'block text-first mb-2' %>
        <%= f.text_area :description, size: "40x10", class: 'form-input block w-full py-1 border border-gray-400 rounded-3xl transition duration-200 focus:border-transparent focus:ring-third focus:ring-offset-2 focus:ring-offset-gray-500' %>
      </div>
      <div class="mb-12">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <label class="flex items-center">
            <%= tag.check_box class: 'form-checkbox' %>
            <span class="ml-2"><%= tag.text %></span>
          </label>
        <% end %>
      </div>
      <div class="mb-20">
        <%= f.label :images, class: 'block text-first mb-2' %>
        <div id="image-preview-container">
          <% if architecture.images.any? %>
            <div class="bg-white p-4 md:p-12 rounded-md">
              <label class="bg-white rounded-full flex justify-center items-center border border-gray-400">
                <i class="fa-solid fa-sd-card"></i>
                <span class="ml-2 text-sm md:text-base">保存済みの画像</span>
              </label>
              <% architecture.images.each do |image| %>
                <div class="preview-image-wrapper relative">
                  <%= image_tag image, class: 'rounded-md mt-4' %>
                  <%= hidden_field_tag 'architecture[existing_images][]', image.id %>
                  <i class="fa-solid fa-circle-xmark fa-2xl remove-image absolute top-2 right-0 p-4 text-third cursor-pointer"></i>
                </div>
              <% end %>
            </div>
          <% end %>
          <label id="add-image-button" class="mt-12 mb-4 bg-white rounded-full flex justify-center items-center border border-gray-400 hover:shadow-lg cursor-pointer">
            <i class="fa-solid fa-camera"></i>
            <span class="ml-2 text-sm md:text-base">画像を追加</span> 
            <%= f.file_field :new_images, class: "hidden", multiple: true, onchange: 'showPreview(event)' %>
          </label>
          <div id="new-images-preview"></div>
        </div>
      </div>
      <div class="flex justify-center">
        <%= f.submit class: 'bg-second hover:scale-105 hover:shadow-lg text-first w-full mb-12 rounded-full focus:outline-none focus:shadow-outline cursor-pointer' %>
      </div>
    <% end %>
  </div>
</div>