<%= form_with model: architecture, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= javascript_pack_tag 'architecture/render' %>
	<div>
		<%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
		<%= f.label :location %>
    <%= f.text_area :location %>
	</div>
  <div>
    <%= f.label :open_range %>
    <%= f.select :open_range, {'公開': 'publish', '非公開': 'unpublish'} %>
  </div>
  <div>
    <%= f.label :architect %>
    <%= f.text_field :architect %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, onchange: 'previewImage()', accept: 'image/*' %>
    <%= f.hidden_field :images_cache %>
  </div>
 
	<%= f.submit %>
<% end %>