<% if @architecture.present? %>
  <% content_for(:title, @architecture.name) %>
  <h2><%= t('.title', architecture_name: @architecture.name) %></h2>
  <h3><%= @architecture.name %></h3>
  <article>
    <div>
      <div>
        <div>
          <% if @architecture.images.any? %>
            <%= image_tag @architecture.images.sample.url, size: '300x200' %>
          <% else %>
            <%= image_tag 'architecture_placeholder.png' %>
          <% end %>
        </div>
        <p><%= simple_format(@architecture.description) %></p>
        <div>
          <%= render 'crud_menus', architecture: @architecture if current_user.own?(@architecture) %>
          <%= link_to 'javascript:void(0);', onclick: "window.location.reload();", class: 'icon' do %>
            <i class="fa-solid fa-rotate-right fa-flip-horizontal fa-2x" style="color: #ee5858;"></i>
          <% end %>
          <%= render 'like_button', architecture: @architecture %>
        </div>
      </div>
    </div>
  </article>
<% else %>
  <p><%= t('.no_result') %></p>
<% end %>
