<% set_meta_tags title: t('.search_index') %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <%= render 'search_form', url: search_architecture_index_path %>
    <div class="m-10 md:m-16">
      <h2 class="text-center text-base md:text-xl"><%= t('.search_index') %></h2>
    </div>
    <div class="grid gap-6 sm:grid-cols-2">
      <% if @architecture.present? %>
        <%= render @architecture %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
    <%= paginate @architecture %>
  </div>
</div>