<% content_for(:title, @architecture.name) %>
<h1><%= t('.title', architecture_name: @architecture.name) %></h1>
<article class="card">
  <div class="card-body">
    <div class='row'>
      <div class='col-md-3'>
        <% if @architecture.images.any? %>
          <% @architecture.images.each do |image| %>
            <%= image_tag image.url, size: '300x200' %>
          <% end %>
        <% else %>
          <%= image_tag 'architecture_placeholder.png' %>
        <% end %>
      </div>
      <div class='col-md-9'>
        <h3 class="d-inline"><%= t('.title', architecture_name: @architecture.name) %></h3>
        <%= render 'crud_menus', architecure: @architecture %>
        <ul class="list-inline">
          <li class="list-inline-item">by <%= @architecture.user.name %></li>
          <li class="list-inline-item"><%= l @architecture.created_at, format: :long  %></li>
        </ul>
      </div>
    </div>
    <p><%= simple_format(@architecture.description) %></p>
  </div>
</article>