<% content_for(:title, @architecture.name) %>
<h2><%= t('.title', architecture_name: @architecture.name) %></h2>
<article>
  <div>
    <div>
      <div>
        <% if @architecture.images.any? %>
          <% @architecture.images.each do |image| %>
            <%= image_tag image.url, size: '300x200' %>
          <% end %>
        <% else %>
          <%= image_tag 'architecture_placeholder.png' %>
        <% end %>
      </div>
      <div>
        <%= render 'crud_menus', architecture: @architecture if current_user.own?(@architecture) %>
        <ul>
          <li>by <%= @architecture.user.name %></li>
          <li><%= l @architecture.created_at, format: :long  %></li>
        </ul>
      </div>
    </div>
    <p><%= simple_format(@architecture.description) %></p>
  </div>
</article>